{% extends 'base.html' %}
<head>
<title>Аналитика</title>
</head>
<body>
{% block content %}
<h1><b>Информация по другим ссылкам от {{ start_date }} до {{ end_date }}</b></h1>
<form method="post">
    {% csrf_token %}
    <div class="container">
        <h1>Выберите промежуток дат</h1>
        <label for="start_date">Начальная дата:</label>
        <input type="date" id="start_date" name="start_date" value="{{ start_date }}">
        <label for="end_date">Конечная дата:</label>
        <input type="date" id="end_date" name="end_date" value="{{ end_date }}">
        <button type="submit">Применить</button>
    </div>
</form>
<div class="container">
    <h1>Скачивания всех сторонних ссылок по дням</h1>
    {{ plot_all_no_games_time|safe }}
  </div>
<div class="container">
    <h1>Скачивания каждой ссылок по дням</h1>
    {{ plot_time_no_games|safe }}
  </div>
<div class="container">
    <h1>Круговая диаграмма распределения сторонних ссылок</h1>
    {{ plot_pie_no_games|safe }}
  </div>
<div class="container">
    <h1>Столбчатая диаграмма по странам для сторонних ссылок</h1>
    {{ no_games_by_country|safe }}
  </div>
<div class="container">
    <h1>Столбчатая диаграмма по регионам для сторонних ссылок</h1>
    {{ no_games_by_regionName|safe }}
  </div>
<div class="container">
    <h1>Столбчатая диаграмма по городам для сторонних ссылок</h1>
    {{ no_games_by_city|safe }}
  </div>

{% endblock %}


